
body {
    background-image: linear-gradient(#1E90FF, #FFFAFA);
    background-repeat: no-repeat;
    margin: auto;
    font-family: Helvetica, sans-serif;;
}
.centered {
    text-align: center;
    top:30px;
}
.head {
    margin-top:50px;
}
.head img {
    float:left;
    margin-left: 20px;
}
.head h1 {
    text-align: center;
    top:20px;
    font-size:50px;
}
header {
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #303030;
    padding-left: 25px;
    text-align:center;
}

table {
    margin: auto;
}

table a {
    text-decoration: none;
    color: #303030;
}

td {
    text-align: center;
    border: 1px solid black;
    background-color: #CCCCCC;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    background-color: #00005D;
    margin: auto;
    width: 80%;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
    position: relative;
}

nav ul a {
    font-size: 20px;
    text-shadow: 1px 1px 1px #CCCCCC;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    padding: 0.5em;
    display: inline-block;
}

nav a {
    text-decoration: none;
    display: block;
}

nav ul ul {
    position: absolute;
    background-color: #999999;
    padding: 8px;
    text-align: left;
    display: none;
}

nav li:hover ul {
    display: block;

}

nav ul ul li {
    display: block;
    border-bottom: 1px solid #000000;
}

nav a:link {
    color: #FFFFFF;
}

nav a:visited {
    color: #EAEAEA;
}

nav ul li ul a:hover {
    color: #00005D;
}

#main-table {
    margin: auto;
    padding: 40px;
}

#main-table td {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;
}

#wrapper {
    margin-top: 50px;
    width: 80%;
    background-color: #FFFAFA;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    box-shadow: 4px 4px 4px #CCCCCC;
    margin-left: auto;
    margin-right: auto;
    min-height: 450px;
}
.profileCard {
    float:none;
    width:70%;
    background:grey;
    margin-top: 75px;
    margin-left:auto;
    margin-right: auto;
    padding:25px;
}
main {
    padding: 25px;
}
section {
    padding:15px;
}
.btn {
    background-color: dimgrey;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid-item {
    padding: 5px;
    /*border: 1px solid black;*/
}
.btn-group {
    margin-left: 20%;
    margin-right: 20%;
}
.btn-group .btn {
    margin: 0 auto;
    align-content: center;
}
#namepic{display:grid;
    grid-template-columns:20% 80%;
}
#profiletable th,td {font-size:20px;
}
.profile {float:left;grid-column:1/2;
}
#studentselect{padding:10px;font-size:20px; float:right;

}
#coursetable td {font-size: x-small}
